<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post | Quora</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            color: coral;
        }

        .outer {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .outer>div {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .outer>div>p:nth-child(1){
            font-weight: bold;
            font-size: 1.5rem;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }
        form textarea{
            width: 300px;
            padding: 10px;
            border: 1px solid #555;
            border-radius: 5px;
        }
        form button{
            width: max-content;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: coral;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Edit Your Post</h1>
    <div class="outer">
        <div>
            <p>Title: </p>
            <p><%= post.title %></p>
        </div>
        <div>
            <p>Username: </p>
            <p><%= post.username %></p>
        </div>
        <div>
            <p>Content: </p>
            <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
                <textarea id="" cols="30" rows="10" name="content" required><%- post.content %></textarea>
                <button type="submit">Make Changes</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>