<!DOCTYPE html>
<html>
<head>
    <title>Your Post in Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            color: coral;
        }

        .outer {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h3{
            text-decoration: underline;
        }        
    </style>
</head>
<body>
    <h1>Your Post in Detail</h1>
    <div class="outer">
        <h3>Id :</h3>
        <p><%= post.id %></p>
        <h3>Title :</h3>
        <p><%= post.title %></p>
        <h3>Content :</h3>
        <p><%- post.content.replace(/\n/g, '<br>') %></p>
        <h3>Username :</h3>
        <p><%= post.username %></p>
</body>
</html>
